body {
	margin-top: 100px;
	background-color: pink;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	text-align: center;
}

#demo {
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:90px;
  height:20px;
  border-radius: 45px 60px 45px 60px;

}
